<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978060351931-hcfbkfs3l8ps5k24i327fg0vfd942t4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978060351931-hcfbkfs3l8ps5k24i327fg0vfd942t4m</string>
	<key>API_KEY</key>
	<string>AIzaSyBsmT3Jq-BhtETqMB_UzL_DCbN-zrbd3YU</string>
	<key>GCM_SENDER_ID</key>
	<string>978060351931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frans.presence</string>
	<key>PROJECT_ID</key>
	<string>presence-4ac89</string>
	<key>STORAGE_BUCKET</key>
	<string>presence-4ac89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978060351931:ios:5d019b1411a5cce1008c9e</string>
</dict>
</plist>